# Programming Exercise: Pandas Introduction 


### Hướng dẫn làm bài 
- Trong bài tập này bạn sẽ sử dụng Python 3.
- Hãy sử dụng các hàm của thư viện `Pandas`.
- Sau khi bạn viết Code của mình xong, hãy chạy dòng Code đó để xem kết quả bên dưới. 

Các bạn sẽ bắt đầu Code trong phần `### START CODE HERE ###` và `### END CODE HERE ###`. Các bạn nhớ đừng sửa bất kỳ dòng Code nào bên ngoài những câu lệnh này. 

Sau khi viết xong Code của bạn, bạn hãy ấn "SHIFT"+"ENTER" để thực hiện chạy lệnh của Cell đó. 

Trong phần Code: các bạn hãy cố gắng thực hiện ít dòng Code nhất theo chỉ định "(≈ X lines of code)". Mặc dù đây không phải là hạn chế về số dòng Code của bạn, nhưng hãy tối ưu sao cho ít nhất có thể.

## Phân tích bộ dữ liệu `olympics`

Đoạn mã bên dưới sẽ tải bộ dữ liệu olympics (olympics.csv) được trích xuất từ Wikipedia trong bài [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), và đã được làm sạch 1 phần dữ liệu.

Các cột được sắp xếp thành:
 - `# of Summer games, Summer medals`
 - `# of Winter games, Winter medals, total `
 - `# number of games, total `
 - `# of medals. Use this dataset to answer the questions below`

In [1]:
# Download Dataset
!wget https://gist.githubusercontent.com/thanhhff/e22f74ca95ee95e8887301779c5292fb/raw/b85cdacd684f6f9641a964df3d6dd161ad4df26e/olympics.csv

--2020-12-26 21:17:05--  https://gist.githubusercontent.com/thanhhff/e22f74ca95ee95e8887301779c5292fb/raw/b85cdacd684f6f9641a964df3d6dd161ad4df26e/olympics.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8272 (8.1K) [text/plain]
Saving to: ‘olympics.csv’

olympics.csv        100%[===================>]   8.08K  --.-KB/s    in 0s

2020-12-26 21:17:05 (115 MB/s) - ‘olympics.csv’ saved [8272/8272]

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

             # Summer  Gold  Silver  ...  Bronze.2  Combined total   ID
Afghanistan        13     0       0  ...         2               2  AFG
Algeria            12     5       2  ...         8              15  ALG
Argentina          23    18      24  ...        28              70  ARG
Armenia             5     1       2  ...         9              12  ARM
Australasia         2     3       4  ...         5              12  ANZ

[5 rows x 16 columns]

### Câu hỏi 0 (Mẫu)

Thông tin của quốc gia đầu tiên trong df?

*Các hàm cần được trả về là 1 Series.*

In [3]:
def answer_zero():
  # This function returns the row for Afghanistan, which is a Series object. 
  return df.iloc[0]

answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Câu hỏi 1

Quốc gia nào dành được nhiều huy chương vàng nhất trong giải mùa hè?

*Giá trị trả về của hàm là string.*


<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
Gợi ý sử dụng .idxmax().
</p>

In [4]:
def answer_one():
  ### START CODE HERE ###
  return df[df['Gold'] == df['Gold'].max()].index[0]
  ### END CODE HERE ###

answer_one()

'United States'

**Kỳ vọng:**
```python3
'United States'
```

### Câu hỏi 2

Quốc gia nào có sự khác biệt lớn nhất giữa số huy chương vàng vào mùa hè và vào mùa đông của họ?

*Giá trị trả về của hàm là string.*

In [5]:
def answer_two():
  ### START CODE HERE ### 
  return (df['Gold'] - df['Gold.1'])[(df['Gold'] - df['Gold.1']) == (df['Gold'] - df['Gold.1']).abs().max()].index[0]
  ### END CODE HERE ###

answer_two()

'United States'

**Kỳ vọng:**
```python3
'United States'
```

### Câu hỏi 3
Quốc gia nào có sự khác biệt lớn nhất giữa số huy chương vàng mùa hè và số huy chương vàng mùa đông so với tổng số huy chương vàng của họ?

Điều kiện: Quốc gia đó phải có ít nhất 1 huy chương vàng vào cả mùa hè và mùa đông.

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

*Giá trị trả về của hàm là string.*

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<p>
Gợi ý sử dụng `.where` để lọc.
</p>

In [6]:
def answer_three():
  ### START CODE HERE ###
  t = df.where((df['Gold'] >= 1) & (df['Gold.1'] >= 1))
  a = ((t['Gold'] - t['Gold.1']) / (t['Gold'] + t['Gold.1'] + t['Gold.2'])).abs()
  return a[a == a.max()].index[0]
  ### END CODE HERE ###

answer_three()

'Bulgaria'

**Kỳ vọng:**
```
'Bulgaria'
```

### Câu hỏi 4

Viết hàm tạo 1 Series đặt tên là "**Points**", trong **Points** giá trị được tính như sau: mỗi huy chương vàng (`Gold.2`) được tính cho 3 điểm, huy chương bạc (` Silver.2`) cho 2 điểm và huy chương đồng (`Bronze.2`) cho 1 điểm. Hàm sẽ chỉ trả về cột (a Series Object) mà bạn đã tạo, với tên quốc gia làm chỉ số.

*Hàm sẽ trẻ về 1 Series tên là `Points` có chiều dài 146 dòng*

In [7]:
def answer_four():
  ### START CODE HERE ### 
  return pd.Series(df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'], name = 'Points')
  ### END CODE HERE ###
                       
answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

**Kỳ vọng:**
```python3 
Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ... 
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64
```