In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
# or: df = pd.DataFrame(100, ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

# Show: 
df

          W         X         Y         Z
A  1.262582 -0.170335  0.153122  0.214867
B -1.146383  0.090617 -1.937719 -0.215078
C  1.287724  0.516630 -1.156035  0.455187
D -0.124970  0.238288  1.229898  0.135686
E  0.475735 -0.699928  1.718579 -0.542778

### Removing column:

In [3]:
df.drop('W', axis = 1)
# Or: df.drop('W', axis = True)
# Or: df.drop('W', True)

          X         Y         Z
A -0.170335  0.153122  0.214867
B  0.090617 -1.937719 -0.215078
C  0.516630 -1.156035  0.455187
D  0.238288  1.229898  0.135686
E -0.699928  1.718579 -0.542778

*Not inplace unless specified :*

In [4]:
# Show 'df':
df

          W         X         Y         Z
A  1.262582 -0.170335  0.153122  0.214867
B -1.146383  0.090617 -1.937719 -0.215078
C  1.287724  0.516630 -1.156035  0.455187
D -0.124970  0.238288  1.229898  0.135686
E  0.475735 -0.699928  1.718579 -0.542778

In [5]:
df.drop('W', axis = 1, inplace = True)

In [6]:
# be changed:
df

          X         Y         Z
A -0.170335  0.153122  0.214867
B  0.090617 -1.937719 -0.215078
C  0.516630 -1.156035  0.455187
D  0.238288  1.229898  0.135686
E -0.699928  1.718579 -0.542778