In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
# or: df = pd.DataFrame(100, ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

# Show: 
df

          W         X         Y         Z
A  0.070542  1.134006  1.444453  0.723190
B  0.181534 -0.303693  0.878717  1.776465
C  0.351454  1.376400 -1.006853  0.654299
D -0.444867  1.451971 -1.836621 -1.400532
E  0.271244 -0.443161  0.483263  0.090109

## Selection and Indexing

The various methods to grab data from a DataFrame

In [3]:
df['W']

A    0.070542
B    0.181534
C    0.351454
D   -0.444867
E    0.271244
Name: W, dtype: float64

In [4]:
df[['W', 'X']]

          W         X
A  0.070542  1.134006
B  0.181534 -0.303693
C  0.351454  1.376400
D -0.444867  1.451971
E  0.271244 -0.443161

In [5]:
df['W']['A']

0.07054186274542397

In [6]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.070542
B    0.181534
C    0.351454
D   -0.444867
E    0.271244
Name: W, dtype: float64

In [7]:
type(df['W'])
## DataFrame Columns are just Series:

pandas.core.series.Series

In [8]:
type(df[['W', 'X']])
type(df)

pandas.core.frame.DataFrame