In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
# or: df = pd.DataFrame(100, ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

# Show: 
df

          W         X         Y         Z
A -0.200762  0.466206  0.380596  1.272621
B  0.841087  0.472414  0.192888  0.537501
C  0.289908  0.230295  0.054055  1.326862
D  1.124279  0.116589 -1.019677 -0.328424
E -0.924198 -0.292071  0.069263 -0.099555

##### Size of table:

In [3]:
df.shape

(5, 4)