In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import randn from random (Numpy)
from numpy.random import randn

df = pd.DataFrame(100 + 10, index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
#or: df = pd.DataFrame(100, index = ['A', 'B', 'C', 'D', 'E'], columns = ['W', 'X', 'Y', 'Z'])

# Show: 
df

     W    X    Y    Z
A  110  110  110  110
B  110  110  110  110
C  110  110  110  110
D  110  110  110  110
E  110  110  110  110

In [3]:
pd.DataFrame(randn(5, 4), index = [2, 8, 9, 10, 20], columns = 'W X Y Z'.split())

           W         X         Y         Z
2  -2.032938 -0.062098 -0.253837  0.336143
8  -1.383650  0.879229 -0.709668 -0.480183
9  -1.478461 -0.539617 -0.559185 -0.335592
10  0.200353 -0.049111 -0.621155  0.645060
20 -1.417934 -0.165935 -3.091766 -0.257427

In [4]:
pd.DataFrame(randn(5, 6), index = [1, 2, 3, 4, 5], columns =[1, 2, 3, 4, 5, 6])

          1         2         3         4         5         6
1 -1.299519 -0.654698 -0.225711  0.499191  0.476220  1.135937
2  1.181957 -0.160272  0.960591 -0.022886 -2.266803 -0.035191
3 -0.135531  2.596679 -0.989113  0.516275 -0.231511 -0.202379
4  1.065111  1.444200  0.600402  0.010244 -0.291570  1.957113
5  1.509461 -1.617369  0.326956 -1.972653 -2.141312 -0.239058

In [5]:
np.random.seed(101)
pd.DataFrame(randn(3, 2), index = [1, 2, 3], columns =[1, 2])

          1         2
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [6]:
np.random.seed(101)
print (randn(3, 2))

[[ 2.70684984  0.62813271]
 [ 0.90796945  0.50382575]
 [ 0.65111795 -0.31931804]]