In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
# or: df = pd.DataFrame(100, ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

# Show: 
df

          W         X         Y         Z
A  0.021104 -0.903104  1.073647 -0.293750
B -2.041254  0.785653 -0.676222 -1.009309
C  0.803026  0.599595 -0.161614 -0.390506
D  0.606059 -0.054962 -1.950639 -0.177723
E  0.615277 -0.218612 -0.077102  0.215579

### Creating a new column:

In [3]:
df['new'] = df['W'] + df['Z'] 
# Show:
df

          W         X         Y         Z       new
A  0.021104 -0.903104  1.073647 -0.293750 -0.272646
B -2.041254  0.785653 -0.676222 -1.009309 -3.050563
C  0.803026  0.599595 -0.161614 -0.390506  0.412520
D  0.606059 -0.054962 -1.950639 -0.177723  0.428336
E  0.615277 -0.218612 -0.077102  0.215579  0.830856