In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
# or: df = pd.DataFrame(100, ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

# Show: 
df

          W         X         Y         Z
A  0.048468  0.200500  0.747693 -0.850412
B -0.074125  1.489485  1.113113  0.721877
C -0.826218 -1.220508 -0.536691  0.197104
D  0.817782  1.707142 -0.013745 -0.077120
E  2.933721  1.874330 -0.382940  2.025162

### Selecting Rows

In [3]:
df.loc['A']

W    0.048468
X    0.200500
Y    0.747693
Z   -0.850412
Name: A, dtype: float64

In [4]:
df.loc['A']['W']

0.04846823336108323

In [5]:
df.loc[['A', 'C']]

          W         X         Y         Z
A  0.048468  0.200500  0.747693 -0.850412
C -0.826218 -1.220508 -0.536691  0.197104

In [6]:
df.loc[['A', 'C'], ['Y', 'Z']]

          Y         Z
A  0.747693 -0.850412
C -0.536691  0.197104

In [7]:
type(df.loc['A'])

pandas.core.series.Series

In [8]:
type(df.loc[['A', 'C']])

pandas.core.frame.DataFrame

##### Or select based off of position instead of label:

In [9]:
df.iloc[2]

W   -0.826218
X   -1.220508
Y   -0.536691
Z    0.197104
Name: C, dtype: float64

In [10]:
df.iloc[[2, 3]]

          W         X         Y         Z
C -0.826218 -1.220508 -0.536691  0.197104
D  0.817782  1.707142 -0.013745 -0.077120

In [11]:
df.iloc[2, 3]
# = df['Z']['C'] = df.iloc[2][3]

0.19710380091916402