In [1]:
import numpy as np

##### Number List:

In [2]:
nums = [6, 8, 10, 5, 70, -5, 60]
# 3 largest numbers:
print (sorted(nums, reverse = True)[:3])
print (np.array(nums)[np.argsort(nums)[::-1][:3]])

# 5 smallest numbers:
print (sorted(nums)[:5])
print (np.array(nums)[np.argsort(nums)[:5]])

[70, 60, 10]
[70 60 10]
[-5, 5, 6, 8, 10]
[-5  5  6  8 10]

#### Car Price List (billion dongs):

In [3]:
car = [
    {'Name' : 'BMW Z4 sDrive30i', 'Price' : 3.099 },
    {'Name' : 'Mercedes-Maybach S 650 4MATIC', 'Price' : 14.899 },
    {'Name' : 'Porsche 911 Carrera S Cabriolet', 'Price' : 7.770 },
    {'Name' : 'Lamborghini Aventador LP700-4', 'Price' : 26 },
    {'Name' : 'Bentley Continental GT', 'Price' : 25 },
    {'Name' : 'Audi A8L', 'Price' : 5.6 },
    {'Name' : 'Rolls Royce Dawn Black Badge', 'Price' : 41 },
    {'Name' : 'Maserati Granturismo', 'Price' : 15.623 }
]

sorted(car, reverse = True, key = lambda x: x['Price'])

[{'Name': 'Rolls Royce Dawn Black Badge', 'Price': 41},
 {'Name': 'Lamborghini Aventador LP700-4', 'Price': 26},
 {'Name': 'Bentley Continental GT', 'Price': 25},
 {'Name': 'Maserati Granturismo', 'Price': 15.623},
 {'Name': 'Mercedes-Maybach S 650 4MATIC', 'Price': 14.899},
 {'Name': 'Porsche 911 Carrera S Cabriolet', 'Price': 7.77},
 {'Name': 'Audi A8L', 'Price': 5.6},
 {'Name': 'BMW Z4 sDrive30i', 'Price': 3.099}]