In [1]:
import pandas as pd
df = pd.read_csv('people.csv') 
df.head()

,person_ID,name,first,last,middle,email,phone,fax,title,age
0,3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor,25
1,3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor,23
2,3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor,21
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,18
4,2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator,30

### Lấy giá trị trả về numpy arrays

Để lấy giá trị của một cột trả về dưới dạng numpy array trong thư viện pandas python, chỉ cần thêm .values vào sau, ví dụ:

In [2]:
df['first'].values

array(['Rosella', 'Damien', 'Robin', 'Edgar', 'Heath', 'Elvin', 'Edmund',
       'Antoine', 'Callie', 'Andrea', 'Liz', 'Reba', 'Angelina',
       'Kimberly', 'Lloyd', 'Ladonna', 'Johnathan', 'Gilbert', 'Florence',
       'Toby', 'Patrica', 'Leila', 'Rose', 'Kathie', 'Shannon', 'Cleo',
       'Nellie', 'Ruben', 'Dianne', 'Adam', 'Kurtis', 'Jami', 'Jaime',
       'Summer', 'Sam', 'Ann', 'Rich', 'Winnie', 'Ezra', 'Elba'],
      dtype=object)