# SF Salaries

**Data:**
* CSV: https://drive.google.com/file/d/11y7Qs8PuDdCo4tbAT5hiAjaGAJGMbMyr/view
* Kaggle: https://www.kaggle.com/kaggle/sf-salaries

**Import pandas**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called *'sal'***

In [2]:
sal = pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Chech info to find out how many entries there are**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

**What is the highest amount of OvertimePay in the dataset ?**

In [6]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ?** 

**Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [7]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL'].JobTitle
# = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [8]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL'].TotalPayBenefits
# = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [9]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()].EmployeeName
# = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [10]:
# or:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)?** 

**Do you notice something strange about how much he or she is paid?**

In [11]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [12]:
# or:
pd.DataFrame(sal.loc[sal['TotalPayBenefits'].idxmax()])

                                                               0
Id                                                             1
EmployeeName                                      NATHANIEL FORD
JobTitle          GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                   167411
OvertimePay                                                    0
OtherPay                                                  400184
Benefits                                                     NaN
TotalPay                                                  567595
TotalPayBenefits                                          567595
Year                                                        2011
Notes                                                        NaN
Agency                                             San Francisco
Status                                                       NaN

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [13]:
ser = sal.groupby('Year')
tuple(ser)

((2011,
            Id        EmployeeName  \
  0          1      NATHANIEL FORD
  1          2        GARY JIMENEZ
  2          3      ALBERT PARDINI
  3          4   CHRISTOPHER CHONG
  4          5     PATRICK GARDNER
  ...      ...                 ...
  36154  36155       SERENA HUGHES
  36155  36156        JOE BROWN JR
  36156  36157      PAULETTE ADAMS
  36157  36158       KAUKAB MOHSIN
  36158  36159  JOSEPHINE MCCREARY

                                               JobTitle    BasePay  OvertimePay  \
  0      GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18         0.00
  1                     CAPTAIN III (POLICE DEPARTMENT)  155966.02    245131.88
  2                     CAPTAIN III (POLICE DEPARTMENT)  212739.13    106088.18
  3                WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00     56120.71
  4        DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60      9737.00
  ...                                               ...        ...          ...
  36154              SWIMMING INSTRUCTOR/POOL LIFEGUARD       0.00         0.00
  36155                                TRANSIT OPERATOR       0.00         0.00
  36156      STATIONARY ENGINEER, WATER TREATMENT PLANT       0.00         0.00
  36157                                TRANSIT OPERATOR       0.00         0.00
  36158                                      MANAGER IV       0.00         0.00

          OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
  0      400184.25       NaN  567595.43         567595.43  2011    NaN
  1      137811.38       NaN  538909.28         538909.28  2011    NaN
  2       16452.60       NaN  335279.91         335279.91  2011    NaN
  3      198306.90       NaN  332343.61         332343.61  2011    NaN
  4      182234.59       NaN  326373.19         326373.19  2011    NaN
  ...          ...       ...        ...               ...   ...    ...
  36154       4.17       NaN       4.17              4.17  2011    NaN
  36155       0.30       NaN       0.30              0.30  2011    NaN
  36156       0.00       NaN       0.00              0.00  2011    NaN
  36157       0.00       NaN       0.00              0.00  2011    NaN
  36158       0.00       NaN       0.00              0.00  2011    NaN

                Agency  Status
  0      San Francisco     NaN
  1      San Francisco     NaN
  2      San Francisco     NaN
  3      San Francisco     NaN
  4      San Francisco     NaN
  ...              ...     ...
  36154  San Francisco     NaN
  36155  San Francisco     NaN
  36156  San Francisco     NaN
  36157  San Francisco     NaN
  36158  San Francisco     NaN

  [36159 rows x 13 columns]),
 (2012,
            Id        EmployeeName                      JobTitle    BasePay  \
  36159  36160      Gary Altenberg  Lieutenant, Fire Suppression  128808.87
  36160  36161        Gregory Suhr               Chief of Police  302578.00
  36161  36162          Khoa Trinh   Electronic Maintenance Tech  111921.00
  36162  36163  Joanne Hayes-White        Chief, Fire Department  296943.01
  36163  36164   Frederick Binkley     EMT/Paramedic/Firefighter  126863.19
  ...      ...                 ...                           ...        ...
  72920  72921    Charles Williams                  Junior Clerk     -30.58
  72921  72922        John Carajan               General Laborer       0.00
  72922  72923         John Draper                         Clerk      -9.50
  72923  72924        Cherise Wong                 Special Nurse       0.00
  72924  72925        Donald Clark              Transit Operator       0.00

         OvertimePay  OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
  36159    220909.48  13126.31  44430.12  362844.66         407274.78  2012
  36160         0.00  18974.11  69810.19  321552.11         391362.30  2012
  36161    146415.32  78057.41  53102.29  336393.73         389496.02  2012
  36162         0.00  17816.59  72047.88  314759.60         386807.48  2012
  36163    192424.49  17917.18  44438.25  337204.86         381643.11  2012
  ...            ...       ...       ...        ...               ...   ...
  72920        45.87      0.00      1.36      15.29             16.65  2012
  72921         0.00      0.00     12.90       0.00             12.90  2012
  72922        14.25      0.00      0.42       4.75              5.17  2012
  72923         0.00      3.28      0.88       3.28              4.16  2012
  72924         0.00      1.77      0.14       1.77              1.91  2012

         Notes         Agency  Status
  36159    NaN  San Francisco     NaN
  36160    NaN  San Francisco     NaN
  36161    NaN  San Francisco     NaN
  36162    NaN  San Francisco     NaN
  36163    NaN  San Francisco     NaN
  ...      ...            ...     ...
  72920    NaN  San Francisco     NaN
  72921    NaN  San Francisco     NaN
  72922    NaN  San Francisco     NaN
  72923    NaN  San Francisco     NaN
  72924    NaN  San Francisco     NaN

  [36766 rows x 13 columns]),
 (2013,
              Id          EmployeeName                        JobTitle  \
  72925    72926        Gregory P Suhr                 Chief of Police
  72926    72927  Joanne M Hayes-White          Chief, Fire Department
  72927    72928           Samson  Lai  Battalion Chief, Fire Suppress
  72928    72929       Ellen G Moffatt               Asst Med Examiner
  72929    72930         Robert L Shaw    Dep Dir for Investments, Ret
  ...        ...                   ...                             ...
  110526  110527        Arthur L Curry         PS Aide Health Services
  110527  110528         Nereida  Vega                    Senior Clerk
  110528  110529      Timothy E Gibson                Police Officer 3
  110529  110530        Mark E Laherty                Police Officer 3
  110530  110531         David P Kucia                Police Officer 3

            BasePay  OvertimePay  OtherPay  Benefits   TotalPay  \
  72925   319275.01         0.00  20007.06  86533.21  339282.07
  72926   313686.01         0.00  23236.00  85431.39  336922.01
  72927   186236.42    131217.63  29648.27  57064.95  347102.32
  72928   272855.51     23727.91  38954.54  66198.92  335537.96
  72929   315572.01         0.00      0.00  82849.66  315572.01
  ...           ...          ...       ...       ...        ...
  110526        NaN         0.00     10.67      0.00      10.67
  110527        NaN         0.00      5.56      0.00       5.56
  110528        NaN         0.00      0.00     -2.73       0.00
  110529        NaN         0.00      0.00     -8.20       0.00
  110530        NaN         0.00      0.00    -33.89       0.00

          TotalPayBenefits  Year  Notes         Agency  Status
  72925          425815.28  2013    NaN  San Francisco     NaN
  72926          422353.40  2013    NaN  San Francisco     NaN
  72927          404167.27  2013    NaN  San Francisco     NaN
  72928          401736.88  2013    NaN  San Francisco     NaN
  72929          398421.67  2013    NaN  San Francisco     NaN
  ...                  ...   ...    ...            ...     ...
  110526             10.67  2013    NaN  San Francisco     NaN
  110527              5.56  2013    NaN  San Francisco     NaN
  110528             -2.73  2013    NaN  San Francisco     NaN
  110529             -8.20  2013    NaN  San Francisco     NaN
  110530            -33.89  2013    NaN  San Francisco     NaN

  [37606 rows x 13 columns]),
 (2014,
              Id          EmployeeName                    JobTitle    BasePay  \
  110531  110532           David Shinn              Deputy Chief 3  129150.01
  110532  110533            Amy P Hart           Asst Med Examiner  318835.49
  110533  110534  William J Coaker Jr.    Chief Investment Officer  257340.00
  110534  110535        Gregory P Suhr             Chief of Police  307450.04
  110535  110536  Joanne M Hayes-White      Chief, Fire Department  302068.00
  ...        ...                   ...                         ...        ...
  148649  148650         Roy I Tillery                   Custodian       0.00
  148650  148651          Not provided                Not provided        NaN
  148651  148652          Not provided                Not provided        NaN
  148652  148653          Not provided                Not provided        NaN
  148653  148654             Joe Lopez  Counselor, Log Cabin Ranch       0.00

          OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
  110531         0.00  342802.63  38780.04  471952.64         510732.68  2014
  110532     10712.95   60563.54  89540.23  390111.98         479652.21  2014
  110533         0.00   82313.70  96570.66  339653.70         436224.36  2014
  110534         0.00   19266.72  91302.46  326716.76         418019.22  2014
  110535         0.00   24165.44  91201.66  326233.44         417435.10  2014
  ...             ...        ...       ...        ...               ...   ...
  148649         0.00       0.00      0.00       0.00              0.00  2014
  148650          NaN        NaN       NaN       0.00              0.00  2014
  148651          NaN        NaN       NaN       0.00              0.00  2014
  148652          NaN        NaN       NaN       0.00              0.00  2014
  148653         0.00    -618.13      0.00    -618.13           -618.13  2014

          Notes         Agency  Status
  110531    NaN  San Francisco     NaN
  110532    NaN  San Francisco     NaN
  110533    NaN  San Francisco     NaN
  110534    NaN  San Francisco     NaN
  110535    NaN  San Francisco     NaN
  ...       ...            ...     ...
  148649    NaN  San Francisco     NaN
  148650    NaN  San Francisco     NaN
  148651    NaN  San Francisco     NaN
  148652    NaN  San Francisco     NaN
  148653    NaN  San Francisco     NaN

  [38123 rows x 13 columns]))

In [14]:
ser.mean().BasePay
# = ser.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [15]:
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [16]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [17]:
sum(sal[sal['Year'] == 2013].JobTitle.value_counts() == 1)

202

**How many people have the word Chief in their job title?**

In [18]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [19]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000