In [1]:
import pandas as pd
import random

In [2]:
df1 = pd.DataFrame({'name': ['Dat'], 'age': [18], 'gender': ['male']})
df2 = pd.DataFrame({'name': ['Nam', 'Mai', 'Hoa'], 'age': [15,17,19]})
df = df1.append(df2, sort=True)
df

   age gender name
0   18   male  Dat
0   15    NaN  Nam
1   17    NaN  Mai
2   19    NaN  Hoa

In [3]:
df.to_csv('cmt.csv')